@media print
{
    * { font-family:"MS Pゴシック",sans-serif; -webkit-print-color-adjust: exact; }
    #hataLesson { margin:0; width:90%; }
    td { text-align:center; margin:0; padding:0; }
    .lesson { border:1px solid #000; border-collapse:collapse; margin-bottom:0.5mm; table-layout:fixed; }
    .lesson td { vertical-align:middle; }
    ul#sortableLesson { list-style:none; display:table-row; margin:0; padding:0; }
    ul#sortableLesson li { display:table-row; }
    #submenu { display:none; }
    #menuControl { display:none; }

    html,body { height:100%; margin:0; padding:0; }
    body { size:A4 landscape; }
    section { padding:4mm 15mm 0mm 15mm; width:267mm; page-break-before:always; }
    h1 { margin:0; font-style:italic; font-size:11pt; }
    #h1screen { display:none; }
    #h1print { display:inline-block; }
    #divName { display:inline-block; font-size:11pt; text-decoration:underline; margin-left:4cm; }
    #divNo { display:inline-block; font-size:11pt; text-decoration:underline; margin-left:3.5cm; }
    #schoolCopy { display:block; text-align:right; width:267mm; font-size:8pt; }
    #mainMenu { display:none; }
    .trKakikomi { display:table-row; height:4mm; }
    .trKakikomi td { border-top:1px dashed #000 !important; border-left:1px solid #000; border-right:1px solid #000; }
    .tdSpace { display:table-cell; }
    .lesson { width:267mm; height:100%; }
    .tdHandle { display:none; }
    .tdJanNum { font-size:7pt; line-height:8pt; border:1px solid #000; background-color:white !important; color:black !important; }
    .tdHata { font-weight:normal; font-size:8pt; line-height:11pt; vertical-align:middle; border-width:1px 1px 0 1px; border-style:solid; padding:0; border-color:black !important; }
    .noprint { display:none !important; }
    .lessonNum { display:none; }
    .tdlessonNum { width:27mm; }
    .divDateTime { display:block; width:27mm; font-size:9pt; line-height:15pt; margin-top:0.7mm; }

    .mask { background:rgba(255,255,255,0.4); color:black; width:100%; height:100%; }
}
